{
  "SaveName": "HST2",
  "WorldName": "HST2",
  "GameModeIdx": 0,
  "GameVersion": 1012002,
  "IsHost": true,
  "HostID": 166267542,
  "GameType": 9,
  "LanGameStartServerTime": 1546315912,
  "RoomName": "HST2",
  "RoomType": 1,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": true,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1546317603,
  "TotalPlayTime": 1446,
  "UpdateTime": 1546316952,
  "AllowCheat": true,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "C:\\MCLDownload\\Game\\lsc19980710@163.com\\LanGameHost\\HST2",
  "GUID": "LanGame-945f9393-8526-4174-8aa3-cf8b6b01a26c",
  "WorldId": null,
  "RecentRoleID": "4627589129241563342",
  "OpenCMDWindow": false,
  "InstallComponents": [
    {
      "ID": "4621804748867232151"
    },
    {
      "ID": "76026855953531904"
    },
    {
      "ID": "4619485298239702916"
    },
    {
      "ID": "4618158911831432412"
    }
  ],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "acm": false,
      "Name": "啦啦扣脚Dahan",
      "CreatedTimeStamp": 1546315887,
      "EntityID": null
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 8,
  "ServerID": 0
}