{
  "SaveName": "HST",
  "WorldName": "HST",
  "GameModeIdx": 0,
  "GameVersion": 1012002,
  "IsHost": true,
  "HostID": 166267542,
  "GameType": 9,
  "LanGameStartServerTime": 1546315912,
  "RoomName": "HST",
  "RoomType": 1,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": true,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1546346648,
  "TotalPlayTime": 8324,
  "UpdateTime": 1546342428,
  "AllowCheat": true,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "C:\\MCLDownload\\Game\\lsc19980710@163.com\\LanGameHost\\HST",
  "GUID": "LanGame-47b239ae-0f52-4010-a218-b7ed96abe527",
  "WorldId": null,
  "RecentRoleID": "4627589129241563342",
  "OpenCMDWindow": false,
  "InstallComponents": [
    {
      "ID": "4621804748867232151"
    },
    {
      "ID": "4618158911831432412"
    },
    {
      "ID": "76002695265125376"
    },
    {
      "ID": "4619485298239702916"
    }
  ],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [
    {
      "ID": "76002695265125376"
    }
  ],
  "RoleList": [
    {
      "acm": false,
      "Name": "啦啦扣脚Dahan",
      "CreatedTimeStamp": 1546315887,
      "EntityID": null
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 8,
  "ServerID": 0
}