{
  "SaveName": "哟会回手掏",
  "WorldName": "哟会回手掏",
  "GameModeIdx": 0,
  "GameVersion": 1012002,
  "IsHost": false,
  "HostID": 109167865,
  "GameType": 9,
  "LanGameStartServerTime": 0,
  "RoomName": "",
  "RoomType": 0,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1545058867,
  "TotalPlayTime": 12089,
  "UpdateTime": 1546315835,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "C:\\MCLDownload\\Game\\lsc19980710@163.com\\LanGame\\哟会回手掏",
  "GUID": "LanGame-945f9393-8526-4174-8aa3-cf8b6b01a26c",
  "WorldId": null,
  "RecentRoleID": "4627589129241563342",
  "OpenCMDWindow": false,
  "InstallComponents": [],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "acm": false,
      "Name": "啦啦扣脚Dahan",
      "CreatedTimeStamp": 1543751941,
      "EntityID": null
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 0,
  "ServerID": 0
}