{
  "SaveName": "啦啦扣脚Dahan的世界",
  "WorldName": "啦啦扣脚Dahan的世界",
  "GameModeIdx": 0,
  "GameVersion": 1012002,
  "IsHost": true,
  "HostID": 166267542,
  "GameType": 9,
  "LanGameStartServerTime": 1546319728,
  "RoomName": "啦啦扣脚Dahan的世界",
  "RoomType": 0,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1546320637,
  "TotalPlayTime": 132,
  "UpdateTime": 1546320568,
  "AllowCheat": true,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "C:\\MCLDownload\\Game\\lsc19980710@163.com\\LanGameHost\\啦啦扣脚Dahan的世界",
  "GUID": "LanGame-945f9393-8526-4174-8aa3-cf8b6b01a26c",
  "WorldId": null,
  "RecentRoleID": "4627589129241563342",
  "OpenCMDWindow": false,
  "InstallComponents": [],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "acm": false,
      "Name": "啦啦扣脚Dahan",
      "CreatedTimeStamp": 1546319722,
      "EntityID": null
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 8,
  "ServerID": 0
}